body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #003366;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 40px;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.form-container {
  padding: 30px;
  max-width: 600px;
  margin: auto;
}

#slotList {
  list-style-type: none;
  padding: 0;
}

#slotList li {
  background: white;
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slotList button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}

#slotList button:hover {
  background-color: #218838;
}

footer {
      background-color: #003366;
      color: white;
      text-align: center;
      padding: 12px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
    }